name: CI Pipeline - myboob-tp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      # Backend
      - name: Install backend dependencies
        run: npm ci

      # Frontend
      - name: Install frontend dependencies
        working-directory: client
        run: npm ci

      - name: Build frontend (Vite)
        working-directory: client
        run: npm run build
